<html>
<head>
<meta chartset="utf-8" >
<meta name="viewport" content="width=device-width">
<title></title>
<link rel="stylesheet" type="text/css" href="dateComponent.css">
<script type="text/javascript" src="../../../lib/jquery/jquery.js"></script>
<script src="../../../lib/seajs/sea.js"></script>
</head>
<body  style="">
	<div class="main" style="width:300px;"></div>
</body>
<script type="text/javascript">
	seajs.use("../../component/dateComponent/dateComponent.js",function(dateComponent) {
		new dateComponent.Calendar({
			element:".main",
			date:new Date(),
			mark:["20141120"]
		});
	});

</script>
</html>