/*@font-face {
	font-family: icons_mobiscroll_website;
	src: url('icons_mobiscroll.eot?231k87');
	src: url('icons_mobiscroll.eot?#iefix231k87') format("embedded-opentype"), url('icons_mobiscroll.ttf?231k87') format("truetype"), url('/Content/icons/icons_mobiscroll.woff?231k87') format("woff"), url('/Content/icons/icons_mobiscroll.svg?231k87#icons_mobiscroll') format("svg");
	font - style: normal
}*/


.m-datePanel {
	margin: 0 auto;
	width: 100%;
}

.m-datePanel * {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-size: 14px;
	/*color:#000;*/
}

.m-datePanel table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	text-align: center;
	position: relative;
}

.m-datePanel>.dateHeader {
	height: 33px;
	line-height: 33px;
}

/*.m-datePanel>.dateHeader * {
	color : #fff;
}*/



.m-datePanel>.dateHeader tr {
	background: #EEEEEE;
}

.m-datePanel>.dateContent {
	height: 188px;
	overflow: hidden;
}

/*.m-datePanel #datePanel tr:first-child {
	color:#3E817D;
}*/

.m-datePanel>.dateContent>table td {
	border: 1px solid #E3E5E7;
	position: relative;
}

.m-datePanel td.icon:after {
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	border-left: 4px solid transparent; 
	border-bottom: 4px solid transparent; 
	border-top: 4px solid #8D8686;
	border-right: 4px solid #8D8686;
}

.m-datePanel>.dateContent>table td.now {
	background-color: #4eccc4;
	color:#fff;
}

@-webkit-keyframes right2left {
	0% {
		left:100%;
	}

	100% {
		left: 0px;
	}
}

@-webkit-keyframes left2right {
	0% {
		right:100%;
	}

	100% {
		right: 0px;
	}
}

.fadeInFromRightToLeft {
	-webkit-animation-name:right2left;
	-webkit-animation-duration:.3s;
	-webkit-animation-timing-function:linear;
}

.fadeInFromLeftToRight {
	-webkit-animation-name:left2right;
	-webkit-animation-duration:.3s;
	-webkit-animation-timing-function:linear;
}

.changeYearLeft,.changeLeft {background: url(arrow_1.png) no-repeat right center;width:16%;background-size: 12px;}
.changeYearRight,.changeRight {background: url(arrow_2.png) no-repeat left center;width:16%;background-size: 12px;}



