<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../imobilebone/imobilebone.css" />
	</head>

	<body>
		<div data-role="page" id="page1">
			<section style="height: 1000px;background-image:-webkit-linear-gradient(top,#333,#fff)">
				page one
			</section>
		</div>
		<div data-role="page" id="page2" style="background-color: #506F8E;">
			<section>
				page two
			</section>
		</div>
		<div data-role="page" id="page3" style="background-color: #90EE90;">
			<section>
				page three
			</section>
		</div>

		<div data-role="footer">
			<ul>
				<li>时间</li>
				<li>地点</li>
				<li>人物</li>
			</ul>
		</div>
	</body>



	<script src="../../../lib/jquery/jquery.js" charset="utf-8"></script>
	<script src="../../../lib/seajs/sea.js" charset="utf-8"></script>
	<script type="text/javascript">
		seajs.config({
			base:"../../../"
		});
		seajs.use("base/component/imobilebone/imobilebone");
	</script>

</html>