<!DOCTYPE HTML>
<html>
<head>
	<title>itable demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../../../lib/jquery/jquery.js"></script>
	<script src="../../../lib/seajs/sea.js" id="seajsnode"></script>
	<link rel="stylesheet" type="text/css" href="gridview.css">
</head>
<body>
	<div class="u-table">

		<ul class='u-grid-list'>
			<li>
				<div class='u-grid-header'>
					<span></span>
					<table>
						<tr >
							<td style="color:rgb(49,214,197)">Health</td>
							<td>100.00￥</td>
							<td>88%</td>
						</tr>
					</table>
				</div>
				<div class='u-grid-content'>
					<div style="height:100px;background-color:#888;"></div>
				</div>
			</li>
			<li>
				<div class='u-grid-header'>
					<table>
						<tr>
							<td style="color:rgb(176,167,252);">Health</td>
							<td>100.00￥</td>
							<td>88%</td>
						</tr>
					</table>
					<span></span>
				</div>
				<div class='u-grid-content'>
					<table>
						<tr>
							<td>food and drinks</td>
							<td>66.00￥</td>
						</tr>
					</table>
				</div>
			</li>
			<li>
				<div class='u-grid-header'>
					<table>
						<tr>
							<td  style="color:rgb(254,128,129);">Health</td>
							<td>100.00￥</td>
							<td>88%</td>
						</tr>
					</table>
					<span></span>
				</div>
			</li>
		</ul>
		
	</div>




	<script type="text/javascript">
		seajs.config({
			base:"../../../",
			alias:{
				gridview:"base/component/gridview/gridview"
			}
		})
		seajs.use("gridview",function(grid) {
			new grid.GridView();
		});
	</script>
</body>
</html>