<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="console" style="width:100px;height:80px"></div>	
<div id="main" style="height:500px;border:1px solid black;"></div>
<script src="mobilechart-tools.js"></script>
<script src="mobilechart-basic.js"></script>
<script src="mobilechart-radar.js"></script>
<script type="text/javascript">

// window.onload = function() {
// 	document.querySelector(".console").innerHTML = new Date().getTime();
// };
var mobilechart = new Mobilechart.radar(document.getElementById("main")).init({
	title : {
        text: '罗纳尔多 vs 舍普琴科',
        subText: '完全实况球员数据',
        align:'left,'
    },
    tooltip : {
        trigger: 'axis'
    },
    backgroundColor:'white',
    legend: {
        align:"right", 
        vertical:80,
        show:true,
        style:{
            // color:"red"
        }
    },
    toolbox:{
            position:'right-center',
            // type:'arc',
            extension:{
                orientation:'right'
            },
            tools:['zoom','smooth','line','bar','stack','page','swap','restore','table']
            // 'line-bar','bar-line','stack',
            // tools:['bar-line','swap']
        },
    calculable : true,
    animation: {
        show: true,
        timeout: 2000
    },

    polar : [
        {
            indicator : [
                {text : '进攻', max  : 100},
                {text : '防守', max  : 100},
                {text : '体能', max  : 100},
                {text : '速度', max  : 100},
                {text : '力量', max  : 100},
                {text : '技巧', max  : 100}
            ],
            radius : 120
            // center : [0.5,0.6],
            // splitArea : {     //设置雷达的斑马颜色和线颜色
            //     show : true
            //     ,   
            //     areaStyle : {
            //         color: ['rgba(250,0,250,0.3)','rgba(0,200,200,0.3)']
            //     }
            // },
            // splitLine : {
            //     show : true,
            //     lineStyle : {
            //         width : 2
            //         // color : 'yellow'
            //     }
            // }
            // axisLine: {            // 坐标轴线
            //     show: true
            //     ,        // 默认显示，属性show控制显示与否
            //     lineStyle: {       // 属性lineStyle控制线条样式
            //         // color: 'green',
            //         width: 1
            //     }
            // }
        }
    ],
    series : [
        {
            name: '完全实况球员数据',
            type: 'radar',
            itemStyle: {
                normal: {
                    // areaStyle: {
                    //     type: 'default'
                    // }
                }
            },
            data : [
                {
                    value : [97, 42, 88, 94, 90, 86],
                    name : '舍普琴科'
                    // itemStyle:{
                    //     // color:'rgba(201,102,222,0.5)'
                    //     // ,
                    //     // lineStyle:{
                    //     //     // color:'black',  //不建议自己配，默认是跟区域的颜色一样，只是没有透明度
                    //     //     type:'dotted'   //不配的话默认是实线 'solid' | 'dotted' | 'dashed' 
                    //     // }
                    // }
                }
                ,
                {
                    value : [97, 72, 74, 95, 88, 92],
                    name : '罗纳尔多'
                    // itemStyle:{
                    //     // color:'rgba(92,206,208,0.5)',
                    //     lineStyle:{
                    //         // color:'black',  //不建议自己配，默认是跟区域的颜色一样，只是没有透明度
                    //         type:'dotted'   //'solid' | 'dotted' | 'dashed'
                    //     }
                    // }
                }
                ,
                {
                    value : [89, 78, 68, 90, 77, 44],
                    name : '胡小强'
                    // itemStyle:{
                    //     // color:'rgba(192,222,108,0.5)',
                    //     lineStyle:{
                    //         // color:'black',  //不建议自己配，默认是跟区域的颜色一样，只是没有透明度
                    //         type:'dotted'   //'solid' | 'dotted' | 'dashed'
                    //     }
                    // }
                }
            ]
        }
    ]
});

</script>

<!-- <button onclick='mobilechart.saveAsImage()'> 1111</button> -->
</body>
</html>