<html>
<head>
	<title></title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<style type="text/css">
	table {
		border-collapse:  collapse;
	}

	table td {
		border:1px solid black;
	}

	.content {
		width : 600px;
		height: 300px;
		margin:  auto;
	}

	.left {
		width: 600px;
		height: 100px;
		overflow: auto;
	}

	.lt {
		width: 1000px;
		height: 100%;
	}

	</style>
</head>
<body>
<table class='content'>
	<tr>
		<td>
			<div class="left">
				<table class='lt'>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>
</body>
</html>