<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="selectWidget.css">
	<script src="../../../lib/seajs/sea.js" id="seajsnode"></script>
</head>
<body>
	<div class="main" style="width:300px;height:480px;margin:auto;">
		<!-- 
			div.u-select-panel {
				div.u-select-input
				div.u-select-list
				div.u-leaf-list
			}
		-->
	</div>
	
	<button id="qd">确 定</button>
	<button id='qx'>取 消</button>


	<script>
	seajs.config({
		base:"../../../",
		alias : {
			"jquery" : "lib/jquery/jquery",
			"iscroll" : "lib/iscroll/iscroll",
			"select" : "base/component/selectWidget/selectWidget"
		}
	});

	seajs.use(["jquery","iscroll","select"],function(a,b,select) {
		$.getJSON(
			"selectWidget.json",
			function(data) {
				var obj = new select.SelectWidget(".main").render(data.data);

				$("#qd").click(function() {
					console.log(obj.queryCurrentNodes())
				});

				$("#qx").click(function() {
					obj.rollback();
					console.log(obj.queryCurrentNodes())
				});
			}
		);
	});

		
	</script>
</body>
</html>