@charset "utf-8";

.u-select-panel {position: relative;margin:auto;padding: 5px;}
.u-select-panel * {padding: 0;margin: 0;box-sizing:border-box;}
.u-select-panel>div {position: absolute;background-color:rgb(228,229,231);}
.u-select-panel ul {list-style-type: none;}
.u-select-panel li {position: relative;border:1px solid rgb(238,241,248);/*rgb(215,215,213)*/;
		border-top:none;height: 33px;line-height: 33px;overflow: hidden;
		text-overflow: ellipsis;white-space: nowrap;-webkit-transition:background-color .25s;padding:0px 5px;}
.u-select-panel li:hover {background-color:rgba(42, 165, 101, 0.5);}

.u-select-panel .u-select {height: 38px;}
.u-select-panel .u-select input,.u-select-panel .u-select span {height: 100%;}
.u-select-panel .u-select input {border:2px solid #3C9BC0;float:left;padding-left: 5px;
	-webkit-appearance:none;/*解决iphone safari上的圆角问题*/-webkit-border-radius:0;}
.u-select-panel .u-select span {position:relative;display: block;float:right;background-color:#3C9BC0; }
.u-select-panel .u-select span:after {position:absolute;top:15px;left:50%;-webkit-transform:translateX(-50%) rotateZ(0deg);
	content:"";border-width: 8px;border-style: solid;border-color: #fff transparent transparent;
	-webkit-transform-origin:center 25%;-webkit-transition:all .3s; }
.u-select-panel .u-select span.active:after {-webkit-transform:translateX(-50%) rotateZ(180deg);}

.u-select-panel .u-select-list {top:45px;overflow: hidden;}
.u-select-panel .u-branch-list {z-index: 1;height: 200px;box-shadow: 0px 3px 6px 2px #5B5E5D;}
.u-select-panel .u-branch-list li.active {background-color:none;
	background-image: -webkit-linear-gradient(top,rgb(127, 196, 209),rgb(78, 130, 187));}

.u-select-panel .u-leaf-wrapper {border:2px solid #3C9BC0;}
.u-select-panel .u-leaf-wrapper ul {-webkit-transition:opacity .5s;}
.u-select-panel .u-leaf-wrapper li.single:after {content:"";position: absolute;right: 10px;width: 16px;height: 16px;
	border:1px solid #3C9BC0; border-radius: 11px;top:7px;-webkit-transition:background-color .5s;
	background: url("select.png") no-repeat 50% 50%}
.u-select-panel .u-leaf-wrapper li.single.active:after {background-color: #3C9BC0;}

.u-select-panel .u-leaf-wrapper li.multi:after {content:"";position: absolute;right: 10px;width: 18px;height: 18px;
	border:1px solid #eee; border-radius: 5px;top:7px;-webkit-transition:background-color .5s;
	background: url("uikit.png") no-repeat -20px -82px;}
.u-select-panel .u-leaf-wrapper li.multi.active:after {background: url("uikit.png") no-repeat -20px -112px;}

