<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="tree.css">
	<script src="../../../lib/seajs/sea.js"></script>
</head>
<body>

	<div class="main" style="width:300px;height:200px;"></div>


	<script>
	seajs.config({
		base:"../../../",
		alias : {
			"jquery" : "lib/jquery/jquery",
			"tree" : "base/component/treeview/tree"
		}
	})

	seajs.use("tree",function(tree) {
		$.getJSON(
			"tree.json",
			function(data) {
				new tree.TreeView({
					element : ".main",
					data:data.data
				}).render();
			}
		);
	});

		
	</script>
</body>
</html>