@charset "utf-8";
.spa-popbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.spa-popbox.alert .spa-popbox-operate {
  width: 50%;
  margin: auto;
}
.spa-popbox .spa-popbox-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 70%;
  height: 30%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 1px #7a7c7a;
  -moz-box-shadow: 0px 0px 6px 1px #7a7c7a;
  box-shadow: 0px 0px 6px 1px #7a7c7a;
}
.spa-popbox .spa-popbox-container > div {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.spa-popbox .spa-popbox-container .spa-popbox-title {
  max-height: 36px;
  padding: 8px 0;
  font-size: 2.2rem;
  text-align: center;
}
.spa-popbox .spa-popbox-container .spa-popbox-content .msg {
  padding: 20px 0;
  text-align: center;
}
.spa-popbox .spa-popbox-container .spa-popbox-operate {
  position: relative;
  max-height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.spa-popbox .spa-popbox-container .spa-popbox-operate .spa-popbox-button {
  margin: 10px 5px;
  padding: 5px 10px;
  border: 1px solid #687;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
  background-color: #fff;
}
.spa-popbox .spa-popbox-container .spa-popbox-operate .spa-popbox-button:active {
  color: #fff;
  background-color: #36a2cc;
}
