<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<div class="main" style="height: 300px;border: 1px solid;">

		</div>
		<script src="../src/sea.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			seajs.config({
				base: '../src',
				alias: {
					zrender: 'zrender/zrender',
					Candle: 'util/shape/Candle'
				}
			});
			seajs.use(['zrender', 'Candle'], function(zrender, CandleShape) {
				var zr = zrender.init(document.querySelector('.main'));
				var shape = new CandleShape({
					style: {
						x: 200,
						y: [100, 123, 90, 125],
						width: 20,
						color: 'red',
						text: 'Baidu'
					}
				});
				zr.addShape(shape);
			});
		</script>
	</body>

</html>