<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<div class="main" style="height: 300px;border: 1px solid;">

		</div>
		<script src="../src/sea.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var option = {
				title: {
					text: '未来一周气温变化',
					subtext: '纯属虚构'
				},
				//				tooltip: {
				//					trigger: 'axis'
				//				},
				legend: {
					show:true,
					borderWidth:3,
					borderColor:"red",
					// backgroundColor:"#ccc",
					padding:[20,20],
					itemGap:5,
					x:"right",
					selected:{'最高气温':true},
					// selectedMode:'single',
					y:"bottom",
					data: [{
							"name":'最高气温',
							style:{
								normal:{
									color:"red"
								}
							}
						}
						,'最低气温','12fdsafew','2fdsafdsa3','12fdsafds34','1fdsedsa25','12fdae63'
						,'1dsaf6gdsa3','12fds4fds34','1fdsfdsa25','12fd4e63','fewafdsa','15961fefd'
						],
					orientation:"horizontal"
				},
				//				toolbox: {
				//					show: true,
				//					feature: {
				//						mark: {
				//							show: true
				//						},
				//						dataView: {
				//							show: true,
				//							readOnly: false
				//						},
				//						magicType: {
				//							show: true,
				//							type: ['line', 'bar']
				//						},
				//						restore: {
				//							show: true
				//						},
				//						saveAsImage: {
				//							show: true
				//						}
				//					}
				//				},
				//				backgroundColor:'black',
				xAxis: [{
					name: '一周',
					type: 'category',
					data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					axisLine: {
						show: true
					}
				}],
				yAxis: [{
					name: '温度',
					type: 'value',
					axisLabel: {
						formatter: '{value} °C'
					}
				}],
				series: [
				{
					area:true,
					name: '最高气温',
					type: 'line',
					data: [11, 11, 20, 13, 12, 13, -10]
					,
					style:{
						normal:{
							 color:"blue",
							 color0:'red'
						}
					}
				}
				, {
					name: '最低气温',
					type: 'line',
					data: [11, 11, 15, 13, 12, 13, 10]
					,
					style:{
						normal:{
							 color:"green"
						}
					}
				}
				]
			};
			seajs.use('../src/charts', function(c) {
				var chart = c.init('.main'); // macarons
				chart.setOption(option);
			});
		</script>
	</body>

</html>