/* 
	background的值的顺序是background-color，background-image，background-repeat，background-attachment，background-position。
 */
@charset "utf-8";
.u-level-tree * {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webkit-user-select:none;
	cursor: default;
}


.u-level-tree ul {
	list-style: none;
	font-family: "Microsoft YaHei",arial, verdana, sans-serif;
	font-size: 12px;
}

.u-level-tree li {
	line-height: 36px;
	position: relative;
}

.u-chilren-tree li {height: 36px;border-top:1px solid rgba(205, 209, 207, 1);}
.u-chilren-tree li:last-child {border-bottom:1px solid rgba(205, 209, 207, 1);}

.u-level-tree .u-container>li>h2 {
	position: relative;
	padding-left:32px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}

/* 父节点前面的箭头 */
.u-level-tree .u-container>li>h2:before {
	content:"";
	position: absolute;
	top:15px;
	left: 10px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent #2E8FC5;
	-webkit-transform:rotateZ(90deg);
	-webkit-transition:transform .3s;
}

.u-level-tree .u-chilren-tree li {
	padding-left: 36px;
}

/* ===========设置li前面的图标================== */
.u-level-tree .u-chilren-tree li:before {
	content:"";
	position: absolute;
	top:50%;
	left:5px;
	-webkit-transform:translate(0,-50%);
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

.u-level-tree .u-chilren-tree li.branch:before {
	background:#2E8FC5 url("branch.png") no-repeat center;
	background-size: 20px;
}

.u-level-tree .u-chilren-tree li.leaf:before {
	background:#2E8FC5 url("leaf.png") no-repeat center;
	background-size: 18px;
}



/*.u-level-tree .u-chilren-tree li.branch span.single:after {
	content:"";
	position: absolute;
	top:50%;
	right: 12px;
	-webkit-transform:translate(0,-50%);
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: url("checkbox.png") no-repeat top left;
	background-size: 36px;
}

.u-level-tree .u-chilren-tree li.branch.active span.single:after {
	background: url("checkbox.png") no-repeat top right;
	background-size: 36px;
}*/

.u-level-tree li span {
	position: absolute;
	display: block;
	width: 50px;
	max-width: 50px;
	height: 36px;
	top:0px;
	right: 0px;
}
/*========================单选样式 ================================*/
.u-level-tree .u-chilren-tree .leaf .single,.u-container h2 .single {
	content:"";
	position: absolute;
	top:50%;
	right: 12px;
	-webkit-transform:translate(0,-50%);
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: url("checkbox.png") no-repeat top left;
	background-size: 36px;
}
.u-level-tree .u-chilren-tree .leaf.active .single,.u-container h2 .single.active {
	background: url("checkbox.png") no-repeat top right;
	background-size: 36px;
	
}
/*========================多选选样式 ================================*/
.u-level-tree .u-container h2 .multi,
.u-level-tree .u-chilren-tree .leaf .multi {
	content:"";
	position: absolute;
	top:50%;
	right: 12px;
	-webkit-transform:translate(0,-50%);
	width: 26px;
	height: 26px;
	border-radius: 9px;
	background: url("uikit.png") no-repeat  -16px -78px;
}
.u-level-tree .u-container h2 .multi.active,
.u-level-tree .u-chilren-tree .leaf.active .multi {
	background: url("uikit.png") no-repeat -16px -108px;
}










/*.u-level-tree .u-container>li>span.single:before {
	content:"";
	position: absolute;
	top:50%;
	right: 12px;
	-webkit-transform:translate(0,-50%);
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: url("checkbox.png") no-repeat top left;
	background-size: 36px;
}
.u-level-tree .u-container>li span.single.active:before {
	background: url("checkbox.png") no-repeat top right;
	background-size: 36px;
}*/






