<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	.main {
		width: 280px;
		height: 400px;
		margin: auto;
		border:1px solid #eee;
		/*background-image: -webkit-linear-gradient(top,rgb(85,58,100),rgb(95,62,111));*/
	}
	</style>
	<link rel="stylesheet" href="levelTreeWidget.css">
</head>
<body>
	<div class="main" data-select-type="single" data-checkbranch="false">
	</div>

	<div style="margin:auto;width:100px;">
		<button id="qd">确定</button>		
		<button id="qx">取消</button>
	</div>
	
	<script src="../../../lib/seajs/sea.js"></script>
	<script>
		seajs.use(["../../../lib/jquery/jquery","../../component/levelTreeWidget/levelTreeWidget"],function(jQuery,levelTree) {
			var lt = null;
			$.getJSON(
				"levelTreeWidget.json",
				function(data) {
					lt = new levelTree.LevelTreeWidget(".main",data.data).render();
				}
			);

			$("#qd").on("click",function() {
				lt.commit();
				console.log(lt.selected_node_map);
				console.log(lt.temp_node_map);
			});

			$("#qx").on("click",function() {
				lt.rollback();
				console.log(lt.selected_node_map);
				console.log(lt.temp_node_map);
			});
		});

	</script>
</body>
</html>