<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="selectWidget.css">
	<script src="../../../../lib/seajs/sea.js"></script>
</head>
<body>
	<div class="main" style="width:300px;height:480px;margin:auto;">
		<!-- 
			div.u-select-panel {
				div.u-select-input
				div.u-select-list
				div.u-leaf-list
			}
		-->
	</div>
	

	<script>
	seajs.config({
		base:"../../",
		alias : {
			"jquery" : "../../../../lib/jquery/jquery",
			"select" : "selectWidget/version2/selectWidget"
		}
	})

	seajs.use(["select","jquery"],function(select) {
		$.getJSON(
			"selectWidget.json",
			function(data) {
				new select.SelectWidget(".main",data.data).render();
			}
		);
	});

		
	</script>
</body>
</html>