<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>drawer module</title>
		<link rel="stylesheet" type="text/css" href="drawer.css">
		<script src="../../../lib/jquery/jquery.js"></script>
		<script src="../../../lib/seajs/sea.js" id="seajsnode"></script>
	</head>
	<body>
		<div data-role="page">
			<div class='u-panel-drawer'>
				<div class="header">
					<ul>
						<li id="sj">时间</li>
						<li id="dd">地点</li>
						<li id="rw">人物</li>
						<li id="sb">设备</li>
						<li id="sb">负荷</li>
					</ul>
				</div>
				<div class="content">
					<section for="sj" style="height:100px;">page1</section>
					<section for="dd" style="height:60px;">page2</section>
					<section for="rw" style="height:130px;">page3</section>
					<section for="sb" style="height:180px;">page4</section>
				</div>
			</div>

			<div data-role="content" style="height: 1000px;">
				<button id="menuBtn">menu</button>
			</div>
		</div>



		<script>
			seajs.config({
				base:"../../../"
			});
			seajs.use("base/component/drawer/drawer",function(d) {
				new d.Drawer().bindHandler("#menuBtn");
			});
		</script>
	</body>
</html>