@charset "UTF-8";
/*[data-role="content"] {background-color: rgb(64, 62, 73);}*/


.u-panel-drawer {height: 0;overflow: hidden;position: relative;background-color:rgb(228,229,231);
	 box-shadow: 0px 0px 1px 1px rgba(37, 33, 33, 0.6) inset;
	-webkit-transition: height .25s ease;
	   -moz-transition: height .25s ease;
	    -ms-transition: height .25s ease;
	     -o-transition: height .25s ease;
	        transition: height .25s ease;}

.u-panel-drawer * {margin:0;padding:0;color:#000;}

.u-panel-drawer .header {overflow-x: auto;overflow-y: hidden;}
.u-panel-drawer .header ul {list-style-type: none;display: -webkit-inline-box;
	position: relative;}
.u-panel-drawer .header ul li {height: 45px;line-height: 45px;min-width: 80px;
	text-align: center;border-bottom: 1px solid rgb(172, 172, 172);font-weight: bold;font-size: 13px;
	color:rgb(73,77,78);}
.u-panel-drawer .header ul li.active {color:rgb(2,155,208);}
.u-panel-drawer .header ul span.arrow {display:none;position: absolute;border:1px solid rgb(172, 172, 172);
	background-color:rgb(228,229,231);width: 20px;height: 20px;top:43px;
	-webkit-transform: rotate(45deg) translateX(-50%);
	   -moz-transform: rotate(45deg) translateX(-50%);
	    -ms-transform: rotate(45deg) translateX(-50%);
	     -o-transform: rotate(45deg) translateX(-50%);
	        transform: rotate(45deg) translateX(-50%);
	-webkit-transition: left .25s ease;
	   -moz-transition: left .25s ease;
	    -ms-transition: left .25s ease;
	     -o-transition: left .25s ease;
	        transition: left .25s ease;}


.u-panel-drawer .content {width: 100%;max-height: 260px;overflow: auto;}
.u-panel-drawer .content section {display: none;width: 100%;height: 220px;}


.u-panel-drawer .footer {position: absolute;bottom: 0;visibility: hidden; 
	left: 0;right: 0;background-color: rgb(228,229,231);}
.u-panel-drawer .footer ul {display: -webkit-inline-box;list-style-type: none;
	width:100%;text-align: center;}
.u-panel-drawer .footer ul li {width: 50%;height: 39px;line-height: 39px;font-weight: bold;
	font-size: 14px;border-top: 1px solid rgb(172,172,172);}		
.u-panel-drawer .footer ul li:first-child {border-right:1px solid rgb(172,172,172);}